<!-- *************** BUDGET REPORT START *************** -->
<!-- Panel 1 Start-->
<div id="budgetReport" class="panel-group">
   <div class="panel panel-primary panel-report">
      <div class="panel-heading parent" data-toggle="collapse" data-target="#collapse1" aria-expanded="true">
         <h4 class="panel-title" style="text-align: center">
            Setup Report
         </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true">
         <div class="panel-group" style="margin-bottom:0; margin-left: 0.5px;">
            <div class="panel panel-default">
               <!-- Panel 1.1 Start-->
               <div class="panel-heading child" style="border-top: 0;" data-toggle="collapse" data-target="#collapse1_1" aria-expanded="true">
                  <h4 class="panel-title">        
                     Select Report Type
                  </h4>
               </div>
               <div id="collapse1_1" class="panel-collapse collapse in" aria-expanded="true">
                  <div class="panel-body">
                     <!-- <label>Report Type:</label> -->
                     <section>
                        <ul>
                           <li class="list-group-button" ng-class="(selectedValues.reportType == 'Balance Sheet') ? 'active' :'' " 
                              ng-click="selectedReportType('Balance Sheet')">Balance Sheet
                           </li>
                           <li class="list-group-button" ng-class="(selectedValues.reportType == 'Income Statement') ? 'active' :'' " 
                              ng-click="selectedReportType('Income Statement')">Income Statement
                           </li>
                        </ul>
                     </section>

                     <!--DOESNT WORK IN IE -->

                     <!-- <input id="toggle-two" ng-click="selectedTotalSheet()" type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-width="100%"> -->
<!--                      
                     <span class="divider"></span>
                     <label>Create Total Sheet:</label>
                     <table width="100%">

                        
                        <tr>
                           <td>
                           <div class="switch-field">
                              <input type="radio" id="switch_left" name="switch_2" value="yes" ng-click="selectedTotalSheet(true)"/>
                              <label for="switch_left">Yes</label>
                              <input style="display: none;" type="radio" id="switch_left_2" name="switch_2_2" value="yes"/>
                              <label style="display: none;" for="switch_left_2">Yes</label>
                           </div>
                           </td>
                           <td>
                           <div class="switch-field">
                              <input type="radio" id="switch_right" name="switch_2" value="no" ng-click="selectedTotalSheet(false)" checked/>
                              <label for="switch_right">No</label>
                           </div>
                           </td>
                        </tr>
                     </table>
-->
                  </div>
               </div>
               <!-- Panel 1.1 End-->

               <!-- Panel 1.2 Start-->
               <div class="panel-heading child" data-toggle="collapse" data-target="#collapse1_2">
                  <h4 class="panel-title">
                     Select Report Period
                  </h4>
               </div>
               <div id="collapse1_2" class="panel-collapse collapse">
                  <div class="panel-body">
                     <label>Select Month:</label>
                     <table style="width: 100%;">
                        <tbody>
                        <tr>
                           <td>
                              <div id="monthStart">
                                 <select id="monthStartSelection"  
                                    class="form-control" 
                                    ng-model="selectedValues.month" 
                                    ng-options="month.name for month in monthValues track by month.key"
                                    >
                                 </select>
                              </div>
                           </td>
                        </tr>
                        </tbody>
                     </table>

                     <section style="padding-top: 5px;">
                        <label>Select Year</label>
                        <table style="width: 100%;">
                        <tbody>
                           <tr>
                              <td class="dateBox">
                                 <input id="jdeFiscalYearSelection" type="text" ng-model="selectedValues.dates.jdeFiscalYear" class="form-control jdeDateInputBox" ng-click="jdeYearClick()" readonly/>
                              </td>
                              <td class="dateBox">
                                 <div style="height: 100%;" class="input-group date" id="jdeYear">
                                    <input style="display: none;" id="jdeYearSelection" type="text" ng-model="selectedValues.dates.jdeYear" class="form-control input-dates" ng-change="jdeYearChange()"/>
                                    <div class="input-group-addon " id="jdeCalendar">
                                       <span class="fa fa-calendar"></span>
                                    </div>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                        </table>
                     </section>
                  </div>
               </div>
               <!-- Panel 1.2 End-->

               <!-- Panel 1.3 Start-->
               <div class="panel-heading child" style="border-bottom: 0;" data-toggle="collapse" data-target="#collapse1_3">
                  <h4 class="panel-title">
                     Select Business Units
                  </h4>
               </div>
               <div id="collapse1_3" class="panel-collapse collapse">
                  <div class="panel-body">
                     <table style="width: 100%">
                        <tbody>
                        <tr>
                           <td>
                              <select
                                 id="bookSelection" 
                                 class="form-control" 
                                 ng-model="selectedValues.book" 
                                 ng-options="book.name for book in filteredBooks track by book.id"
                                 ng-change="changeBook()">
                              </select>
                           </td>
                           <td style="width: 40px;">
                              <div class="dropdown" style="float: right;">
                                 <button style="width: 35px;" class="btn btn-info dropdown-toggle disabled" type="button" id="menu1" data-toggle="dropdown">
                                    <i style="margin-left: -5px;" class="fa fa-bars" aria-hidden="true"></i>
                                    <span class="caret"></span>
                                 </button>
                                 <ul class="dropdown-menu" style="min-width: 100px; padding: 0" role="menu" aria-labelledby="menu1">
                                    <li role="presentation">
                                       <a style="height: 30px; padding-top: 5px;" role="menuitem" data-toggle="modal" data-target="#bookModal" ng-click="editBook('Save Changes')">
                                          Save
                                       </a>
                                    </li>
                                    <li role="presentation">
                                       <a style="height: 30px;" role="menuitem" data-toggle="modal" data-target="#bookModal" ng-click="editBook('Rename')">
                                          Rename
                                       </a>
                                    </li>
                                    <li role="presentation">
                                       <a style="height: 30px;" role="menuitem" data-toggle="modal" data-target="#bookModal" ng-click="editBook('Copy')">
                                          Copy
                                       </a>
                                    </li>
                                    <li style="margin: 1px;" role="presentation" class="divider"></li>
                                    <li role="presentation">
                                       <a style="height: 30px;" role="menuitem" data-toggle="modal" data-target="#bookModal" ng-click="editBook('Delete')">
                                          Delete
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </td>
                        </tr>
                        </tbody>
                     </table>

                     <div class="modal-header" style="padding: 10px 0px 0px 0px;">
                        <table width="100%;">
                           <tbody>
                           <tr>
                              <td>
                                 <div class="panel-addon" style="border-top-left-radius: 6px;">
                                    <input type="checkbox" 
                                    style="margin: 0; margin-left: 4px; width: 16px; cursor: pointer;" 
                                    ng-model="selectedValues.selectAll"
                                    ng-change="selectedOptionsAll()"
                                    >
                                 </div>
                              </td>
                              <td>
                                 <input type="text" 
                                 class="searchBox" 
                                 ng-model="selectedValues.searchInput" 
                                 ng-keyup="searchOptions()"
                                 placeholder="Search.." 
                                 title="SearchField">
                              </td>
                              <td>
                                 <div class="panel-addon" style="cursor: pointer; border-top-right-radius: 6px;">
                                    <a class="nav-link" data-toggle="modal" data-target="#bookViewModal" ng-click="editBook('View')">
                                       <i class="fa fa-eye" aria-hidden="true" style="width: 16px;"></i>
                                    </a>
                                 </div>
                              </td>
                           </tr>
                           </tbody>
                        </table>
                     </div>
                     <div class="container scroll">
                        <ul id="myUL" style="list-style: none; width: 140%">
                           <li class="parentLi" style="margin-top: 6px;" ng-repeat="label in parentList" >
                              <div class="parentOptions">
                                 <input id="{{'parentInput-'+ label.id}}" type="checkbox" ng-model="label.selected" ng-change="selectedParent(label)" style="cursor: pointer;">
                                 <label id="{{'parentLabel-'+ label.id}}"
                                    data-toggle="collapse" 
                                    data-target="{{'#childOptions-'+ label.id}}"
                                    aria-expanded="false" 
                                    aria-controls="{{'childOptions-'+ label.id}}"
                                    style="display: inline; font-weight: normal;">
                                    {{label.mcco + '-' + label.ccname}}
                                 </label>
                              </div>
                              <div id="{{'childOptions-'+ label.id}}" aria-expanded="false" class="collapse">
                                 <ul style="list-style: none;">
                                    <li class="childLi" style="margin-left: 1em;" ng-repeat="childList in label.childList">
                                       <input id="{{'childInput-'+ childList.id}}" type="checkbox" ng-model="childList.selected" ng-change="selectedChild(label, childList)" style="cursor: pointer;">
                                       <label id="{{'childLabel-'+ childList.id}}" style="font-size: 12px; font-weight: normal;">
                                          {{childList.id + '-' + childList.name }}
                                       </label>
                                    </li>
                                 </ul>
                              </div>
                           </li>
                        </ul>
                        <br>
                     </div>

                     <div class="modal-header" style="padding: 0;">
                        <table width="100%;">
                           <tbody>
                           <tr>
                              <td width="20px">
                                 <div class="panel-addon">
                                    <input type="checkbox" 
                                    style="margin: 0; margin-left: 4px; width: 16px; cursor: pointer;" 
                                    ng-model="selectedValues.totalSheet"
                                    ng-change="selectedTotalSheet()"
                                    >
                                 </div>
                              </td>
                              <td>
                                 <p class="panel-label">
                                    Create Total Sheet
                                 </p>
                              </td>
                           </tr>
                           </tbody>
                        </table>
                     </div>

                     <section style="padding-top: 10px; float: right">
                        <table width="100%;">
                           <tbody>
                           <tr>
                              <td width="45%"><td>
                              <td width="25%">
                                 <!-- Trigger the modal with a button -->
                                 <button id="clearButton" type="button" class="btn btn-primary" style="width: 90px; float: right; padding: 5px;" ng-click="clearAll()">
                                    Clear All
                                 </button>
                              </td>
                              <td width="5%"></td>
                              <td width="25%">
                                 <button type="button" class="btn btn-primary" style="width: 90px; float: right; padding: 5px;" data-toggle="modal" data-target="#bookModal" ng-click="editBook('Save')">
                                    Save New
                                 </button>
                              </td>
                           </tr>
                           </tbody>
                        </table>
                        
                     </section>
                  </div>
               </div>
               <!-- Panel 1.3 End-->
            </div>
         </div>
      </div>

      <!-- Panel Run Start-->
      <div class="panel-run">
         <button type="button" class="btn btn-info btn-block btn-run" ng-click="getSheetData()" 
         data-toggle="modal" data-target="#modalLoad">
            Run Report
         </button>
      </div>
      <!-- Panel Run End-->

   </div>
</div>
<!-- Panel 1 End--> 


<!-- *************** MODALS START *************** -->
<!-- Book Edit -->
<div class="modal fade" id="bookModal" role="dialog">
   <div class="modal-dialog" style="max-width: 300px;">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header" style="padding: 10px; color: #337ab7;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{ modalBook.title }}</h4>
         </div>

         <div id="bookModalError" class="alert alert-danger" style="margin:0; padding:10px; display:none">
            {{ modalBook.error }}
         </div>            
         <div id="bookModalBody" class="modal-body" ng-keyup="modalKeyPressed($event)">
            <div class="input-group" style="width: 100%;">
              <p  style="padding-bottom: 10px;">{{ modalBook.msg }}</p>
              <input id="bookModalInput" type="text" class="form-control" ng-model="modalBook.value" autofocus>
            </div>
         </div>

         <div class="modal-footer" style="padding: 10px;">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
           <button type="button" class="btn btn-primary" ng-click="saveBook()">{{ modalBook.saveButton }}</button>
         </div>
      </div>
   </div>
</div>
<!-- Book Edit -->

<!-- Option Selections View -->
<div class="modal fade" id="bookViewModal" role="dialog">
   <div class="modal-dialog" style="max-width: 350px;">
      <!-- Modal content-->
      <div class="modal-content">
         <div class="modal-header" style="padding: 10px; color: #337ab7;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{ modalBook.title }}</h4>
         </div>       
         <div class="modal-body" style="padding: 0">
            <div id="selectionWarning" class="alert alert-warning" style="margin: 0; display: none">
              {{ modalBook.error }}
            </div>
            <div id="selectionDetails" class="container" style="width: 100%; max-height: 250px; overflow: scroll;">
               <ul style="list-style: none; width: 120%">
                  <li style="margin-top: 1em;" ng-repeat="label in modalBook.detailList" >
                     <label style="display: inline; font-size: 12px;">
                        {{ label.name }}
                     </label>
                     <ul style="list-style: none;">
                        <li style="margin-left: 1em;" ng-repeat="childList in label.childList">
                           <label style="font-size: 12px; font-weight: normal;">
                              <i class="fa fa-check" aria-hidden="true" style="padding-right: 5px;"></i>
                              {{ childList.name }}
                           </label>
                        </li>
                     </ul>
                  </li>
               </ul>
               <br>
            </div>
         </div>

         <div class="modal-footer" style="padding: 10px;">
           <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
         </div>
      </div>
   </div>
</div>
<!-- Option Selections View -->
<!-- *************** MODALS END *************** -->

<p>{{ debugMsg }}</p>

<!-- *************** BUDGET REPORT END *************** -->