<!-- *************** JOBCOST REPORT 2 START *************** -->
<!-- Panel 1 Start-->
<div id="jobcostReport" class="panel-group">
   <div class="panel panel-primary panel-report">
      <div class="panel-heading parent" data-toggle="collapse" data-target="#collapse1" aria-expanded="true">
         <h4 class="panel-title" style="text-align: center">
            Setup Report
         </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true">
         <div class="panel-group" style="margin-bottom:0; margin-left: 0.5px;">
            <div class="panel panel-default">
               <!-- Panel 1.1 Start-->
               <div class="panel-heading child" style="border-top: 0;" data-toggle="collapse" data-target="#collapse1_1" aria-expanded="true">
                  <h4 class="panel-title">
                     Select Report Details
                  </h4>
               </div>
               <div id="collapse1_1" class="panel-collapse collapse in" aria-expanded="true">
                  <div class="panel-body">
                     <section >
                     	<label>
                           <a class="details" data-toggle="popover" data-trigger="hover"
                              data-placement="top"
                              title="Step 1: Department" 
                              data-content="Pick a department or *ALL for all departments. Based on what is selected here determines what you can pick in step #2.">
                              Department: 
                           </a>
                        </label>
                        <select id="departmentSelection" 
                           class="form-control" 
                           ng-model="selectedValues.department" 
                           ng-options="option.name for option in filteredDepartment track by option.key"
                           ng-change="selectedDepartment()">
                           
                        </select>
                     </section>
                     <span class="divider"></span>
                     <section>
                        <label>
                           <a class="details" data-toggle="popover" data-trigger="hover"
                              data-placement="top"
                              title="Step 2: Company" 
                              data-content="Pick a company or *ALL for all companies. Based on what is selected here determines what you can pick in step #3.">
                              Company: 
                           </a>
                        </label>
                        <select id="companySelection" 
                           class="form-control" 
                           ng-model="selectedValues.company" 
                           ng-options="option.name for option in filteredCompany track by option.key"
                           ng-change="selectedCompany()">
                           
                        </select>
                     </section>
                     <span class="divider"></span>
                     <section >
                        <label>
                           <a class="details" data-toggle="popover" data-trigger="hover"
                              data-placement="top"
                              title="Step 3: Project" 
                              data-content="Pick a project or *ALL for all projects. Based on what is selected here determines what you can pick in step #4.">
                              Project:
                           </a>
                        </label>
                        <select id="projectSelection" 
                           class="form-control" 
                           ng-model="selectedValues.project" 
                           ng-options="option.name for option in filteredProject track by option.key"
                           ng-change="selectedProject()">
                           
                        </select>
                     </section>
                     <span class="divider"></span>
                     <section >
                        <label>
                           <a class="details" data-toggle="popover" data-trigger="hover"
                              data-placement="top"
                              title="Step 4: Job Status" 
                              data-content="Pick the status of the job. *ALL = Open and Closed jobs. Open = Just the open jobs.  Closed = Just the closed jobs. Based on what is selected here determines what you can pick in step #5.">
                              Job Status:
                           </a>
                        </label>
                        <select id="jobStatusSelection" 
                           class="form-control" 
                           ng-model="selectedValues.jobStatus" 
                           ng-change="selectedJobStatus()"
                           ng-options="option.name for option in jobStatus track by option.key">
                           
                        </select>
                     </section>
                     <section style="padding-top: 5px">
                        <label>
                           <a class="details" data-toggle="popover" data-trigger="hover"
                              data-placement="top"
                              title="Step 5: Job" 
                              data-content="Pick a job or *ALL for all jobs. Based on what was selected in 1-4 determines which jobs you can pick.">
                              Job:
                           </a>
                        </label>
                        <select id="jobSelection" 
                           class="form-control" 
                           ng-model="selectedValues.job" 
                           ng-options="option.name for option in filteredJob track by option.key"
                           ng-change="selectedJob()">
                           
                        </select>
                     </section>
                     <span class="divider"></span>
                     <section>
                        <label>
                           <a class="details" data-toggle="popover" data-trigger="hover"
                              data-placement="top"
                              title="Step 6: Level of Detail" 
                              data-content="Pick the level of detail that you want displayed on the report. No Details - displays totals by Project # with no cost code/cost type information. Cost Code/Type Details will display the cost type (object) and cost code (subsidiary) information. FERC Details will subtotal based on the FERC code (same as subsidiary in JDE).">
                              Level of Detail:
                           </a>
                        </label>
                        <select id="detailSelection" 
                           class="form-control" 
                           ng-model="selectedValues.details" 
                           ng-options="option.name for option in filteredDetails track by option.key"
                           ng-change="selectedDetail()">
                           
                        </select>
                     </section>
                  </div>
               </div>
               <!-- Panel 1.1 End-->

               <!-- Panel 1.2 Start-->
               <div class="panel-heading child" data-toggle="collapse" data-target="#collapse1_2">
                  <h4 class="panel-title">
                     Select Period for Report
                  </h4>
               </div>
               <div id="collapse1_2" class="panel-collapse collapse">
                  <div class="panel-body">
                     <label>
                        <a class="details" data-toggle="popover" data-trigger="hover"
                           data-placement="top"
                           title="Step 6: Level of Detail" 
                           data-content="Pick a month and year range.">
                           Date Range:
                        </a>
                     </label>
                     <table style="width: 100%;">
                        <tbody>
                        <tr>
                           <td class="dateRangeBox" style="padding-right: 5px;">
                              <div id="monthStart">
                                 <select id="monthStartSelection"  
                                    class="form-control" 
                                    ng-model="selectedValues.dates.monthStart" 
                                    ng-options="month.name for month in monthValues track by month.key"
                                    ng-change="selectedMonthStart()">
                                 </select>
                              </div>
                           </td>
                           <td class="dateRangeBox">
                              <div style="height: 100%;" class="input-group input-daterange" id="yearStart">
                                 <input id="yearStartSelection" type="text" ng-model="selectedValues.dates.yearStart" class="form-control input-dates dateInputBox" readonly/>
                                 <div class="input-group-addon calendarBox">
                                    <span class="fa fa-calendar"></span>
                                 </div>
                              </div>
                           </td>
                        </tr>
                        </tbody>
                     </table>
                     <section>
                        <p style="text-align: center; padding:4px;">to</p>
                     </section>
                     <table style="width: 100%;">
                        <tbody>
                        <tr>
                           <td class="dateRangeBox" style="padding-right: 5px;">
                              <div id="monthEnd">
                                 <select id="monthEndSelection"  
                                    class="form-control" 
                                    ng-model="selectedValues.dates.monthEnd" 
                                    ng-options="month.name for month in monthValues track by month.key"
                                    ng-change="selectedMonthEnd()">
                                 </select>
                              </div>
                           </td>
                           <td class="dateRangeBox">
                              <div style="height: 100%;" class="input-group input-daterange" id="yearEnd">
                                 <input id="yearEndSelection" type="text" ng-model="selectedValues.dates.yearEnd" class="form-control input-dates dateInputBox" readonly/>
                                 <div class="input-group-addon calendarBox">
                                    <span class="fa fa-calendar"></span>
                                 </div>
                              </div>
                           </td>
                        </tr>
                        </tbody>
                     </table>
                     <span class="divider"></span>
                     <section>
                        <label>
                           <a class="details" data-toggle="popover" data-trigger="hover"
                              data-placement="top"
                              title="Step 7: JDE Fiscal Year" 
                              data-content="Pick the JDE fiscal year -- Oct. thru Sept. The 13th month is for accounting entries. For example, fiscal year 2002 is 2002-2003.">
                              JDE Fiscal Year:
                           </a>
                        </label>

                        <table style="width: 100%;">
                        <tbody>
                           <tr>
                              <td class="dateBox">
                                 <input id="jdeFiscalYearSelection" type="text" ng-model="selectedValues.dates.jdeFiscalYear" class="form-control jdeDateInputBox" ng-click="jdeYearClick()" readonly/>
                              </td>
                              <td class="dateBox">
                                 <div style="height: 34px;" class="input-group date" id="jdeYear">
                                    <input style="display: none;" id="jdeYearSelection" type="text" ng-model="selectedValues.dates.jdeYear" class="form-control input-dates" ng-change="jdeYearChange()"/>
                                    <div class="input-group-addon" id="jdeCalendar">
                                       <span class="fa fa-calendar"></span>
                                    </div>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                        </table>
                     </section>
                  </div>
               </div>
               <!-- Panel 1.2 End-->

               <!-- Panel 1.3 Start-->
               <div class="panel-heading child" style="border-bottom: 0;" data-toggle="collapse" data-target="#collapse1_3">
                  <h4 class="panel-title">
                     Optional Selections
                  </h4>
               </div>
               <div id="collapse1_3" class="panel-collapse collapse">
                  <div class="panel-body">
                     <section>
                        <label>Category Code Type 1:</label>
                        <select id="catCode1Type" 
                           class="form-control" 
                           ng-model="selectedValues.optional.cat1" 
                           ng-options="option.name for option in filteredCatCode1 track by option.key"
                           ng-change="selectedCatCode1()">
                           
                        </select>
                     </section>
                     <span class="divider"></span>
                     <section>
                        <label>Category Code Description 1:</label>
                        <select id="catCode1Description" 
                           class="form-control" 
                           ng-model="selectedValues.optional.cat1Description" 
                           ng-options="option.name for option in filteredCC1Descriptions track by option.key">
                           
                        </select>
                     </section>
                     <span class="divider"></span>
                     <section>
                        <label>Category Code Type 2:</label>
                        <select id="catCode2Type" 
                           class="form-control" 
                           ng-model="selectedValues.optional.cat2" 
                           ng-options="option.name for option in filteredCatCode2 track by option.key"
                           ng-change="selectedCatCode2()">
                           
                        </select>
                     </section>
                     <span class="divider"></span>
                     <section>
                        <label>Category Code Description 2:</label>
                        <select id="catCode2Description" 
                           class="form-control" 
                           ng-model="selectedValues.optional.cat2Description" 
                           ng-options="option.name for option in filteredCC2Descriptions track by option.key">
                           
                        </select>
                     </section>
                  </div>
               </div>
               <!-- Panel 1.3 End-->
            </div>
         </div>
      </div>
      <!-- Panel Run Start-->
      <div class="panel-run">
         <button type="button" class="btn btn-info btn-block btn-run" ng-click="getSheetData()" 
         data-toggle="modal" data-target="#modalLoad">
            Run Report
         </button>
      </div>
      <!-- Panel Run End-->

      <p>{{ debugMsg }}</p>
   </div>
</div>
<!-- Panel 1 End--> 
 
<!-- *************** JOBCOST REPORT 2 END *************** -->
