
<!-- *************** LOGIN START *************** -->
<!-- Panel 1 Start-->
<div id="loginContainer">
   <div id="login" class="login">
      <div class="panel-heading loginHeading">
         <h4 class="panel-title loginTitle">
            Well this is awkward
         </h4>
      </div>
      <div class="panel-group" style="margin-bottom:0">
         <div class="panel panel-default">
            <div class="panel-body">
               
               <p>I am not sure you are authorized to be here</p>
               
            </div>
         </div>
      </div>
   </div> 
</div>
<!-- Panel 1 End--> 


<!-- *************** MODALS START *************** -->
<!-- Modal 1-->
<div class="modal fade" id="loadModal">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="center-div">
         <div class="loader-login"></div>
      </div>
   </div>
</div>
<!-- Modal 1 End-->
<!-- *************** MODALS END *************** -->


<!-- *************** LOGIN END *************** -->
