
<!-- *************** LOGIN START *************** -->
<!-- Panel 1 Start-->
<div id="loginContainer">
   <div id="login" class="login">
      <div class="panel-heading loginHeading">
         <h4 class="panel-title loginTitle">
            Login
         </h4>
      </div>
      <div class="panel-group" style="margin-bottom:0">
         <div class="panel panel-default">
            <div class="panel-body">
               <div class="login-form" ng-keyup="login($event)">
				      <div id="username" class="username-row row">
				      	<span class="login-icon fa fa-user"></span>
				      	<input class="username-input" id="username_input"  
                        type="text" 
                        placeholder="Username"
                        ng-model="user.username"
                        autofocus>
                     </input>
				      </div>
				      <div id="password" class="password-row row">
                     <span class="login-icon fa fa-lock"></span>
				      	<input class="password-input" id="password_input" 
                        type="password"
                        placeholder="Password"
                        ng-model="user.password">
                     </input>
				      </div>
			   	</div>

               <div class="login-error">
                  <p id="error">Invalid username or password</p>
               </div>

				   <div class="login-action">
				    	<button id="login-button" type="button" class="btn btn-info" ng-click="login()">
				    		Log In
				   	</button>
				   </div>

               
            </div>
         </div>
      </div>
   </div> 
</div>
<!-- Panel 1 End--> 


<!-- *************** MODALS START *************** -->
<!-- Modal 1-->
<div class="modal fade" id="loadModal">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="center-div">
         <div class="loader-login"></div>
      </div>
   </div>
</div>
<!-- Modal 1 End-->
<!-- *************** MODALS END *************** -->


<!-- *************** LOGIN END *************** -->
