<main class="ms-welcome__main" ng-controller="setupCtrl as home">

<div id="mainReport" class="panel-group" style="margin: 0; height: 100%; display: grid;">
   <div class="panel panel-default panel-main">

      <div class="panel-username">
         <button class="user-logout" type="button" data-hover="Logout" ng-click="logout()">
            <span>{{user.name}}</span>
         </button>
      </div>
      <div style="padding-bottom: 10px;">
         <select id="reportSelection"
            style="margin: 0 auto; width: 200px;" 
            class="form-control" 
            ng-model="selectedValues.report" 
            ng-options="report.name for report in filteredReports track by report.id"
            ng-change="selectedReport()">
            <option value="">---Select Report---</option>
         </select>
      </div>
      

      <div ui-view>
      </div>


   </div>
</div>


<!-- *************** MODALS START *************** -->
<!-- Modal 1-->
<div id="loadModal" class="modal fade" role="dialog" data-dismiss="loadModal">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="center-div">
         <div class="loader"></div>
         <h2 class="modal-title" style="margin-left: -20px;">
            <span class="label">Loading Data...</span>
         </h2>
      </div>
   </div>
</div>
<!-- Modal 1 End-->


<!-- Modal 2-->
<div id="quickLoad" class="modal fade">
   <div class="modal-dialog">
      <!-- Modal content-->
      <div class="center-div">
         <div class="loader-data"></div>
      </div>
   </div>
</div>
<!-- Modal 2 End-->
<!-- *************** MODALS END *************** -->


<!--
<p>
   {{debugMsg}}
</p>
-->

</main>